
@{
    ViewData["Title"] = "My Work";
    var userID = ViewData["userID"];
    var products = ViewData["Products"] as List<ST10187895POE.Models.Products>;
}
<style>
   
    body {
        background-color: #F5f5dc;
    }
    .productsGoHere
    {
        box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
        padding: 15px;
        border-radius: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }
    .Products-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .product-display 
    {
        width: 250px;
        height: 400px;
        padding: 0.8em 0.8em 0 0.8em;
        background: #ffffff;
        display: flex;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        justify-content: center;
        transition: box-shadow 0.3s ease, background-color 0.3s ease;
        margin: 0.5em;
        cursor: pointer;
        flex-direction: column;
        align-items: center;
    

    }

    .product-display:hover{
        box-shadow: 0.5px rgba(0,0,0,0.3);
    }
    .product-img img{
        max-height: 60%;
        max-width: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
        overflow: hidden;
    }

    button {
        appearance: button;
        background-color: #1899D6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 13px 19px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }

        button:after {
            background-clip: padding-box;
            background-color: #1CB0F6;
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            bottom: -4px;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }

        button:main, button:focus {
            user-select: auto;
        }

        button:hover:not(:disabled) {
            filter: brightness(1.1);
        }

        button:disabled {
            cursor: auto;
        }

        button:active:after {
            border-width: 0 0 0px;
        }

        button:active {
            padding-bottom: 10px;
        }
</style>
@if (userID != null)
{
    <p>User ID: @userID</p>
}
<h1>Our Products</h1>

<section class="productsGoHere">
    <div class = "Products-container">
        
        @* @foreach (var product in products)
        {
        
            <div class="product-display">
                <div class="product-image">
                    <img src="https://via.placeholder.com/220" />
                </div>
                <div class="product-name">
                >@product.productName
                </div>
                <div class="product-price">
                @product.productPrice
                </div>
                <button type="submit">Add to Cart</button>
            </div>
        } *@
        @foreach (var product in products)
        {
            <div class="product-display">
            <form asp-controller="Transaction" asp-action="OrderItem" method="post">
            <div class="product-image">
                <img src="https://via.placeholder.com/220" />
            </div>
            <div class="product-name">
                @product.productName
                <input type="hidden" name="productID" value="@product.productID" />
                    <input type="hidden" name="productID" value="@product.productID" />
                    <input type="hidden" name="userID" value="@userID" />

            </div>
            <div class="product-price">
                @product.productPrice
            </div>
            <div class="Category-Name">
                @product.category
            </div>
            <button type="submit" class="AddToCart">Order Now</button>
            </form>
            </div>
        }
        
</section>

